
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #f1f1f1;
    display: flex;
    justify-content: center; 
    align-items: center;     
    font-family: Arial, sans-serif;
}
.card {
    width: 350px;
    padding: 20px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);

    display: flex;
    flex-direction: column;    
    align-items: center;       
}
.photo {
    width: 120px;
    height: 120px;
    background: #8081f5;
    border-radius: 50%;
    margin-bottom: 20px;
}
.info {
    width: 100%;
    display: flex;
    flex-direction: column; 
    gap: 10px;
}
.row {
    display: flex;
    justify-content: space-between;  
    align-items: center;             
    background: #f7f7f7;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
}